<div id="particles-js">
  <div class="content">
      <h3>
        <span class="site-title">Lab of Data Science </span>
        <span class="site-description">XJTU-SOM</span>
      </h3>
      <div class="simpleintrotolab">
		<p>Here we should add a simple introduction for our lab. Here we should add a simple introduction for our lab.Here we should add a simple introduction for our lab. </p>

      </div>
	  
	  
	  {% include nav.html %}
	  <!-- <a class="link" href="#about" data-scroll>About Us</a> -->

  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>

