<div id="particles-js">

		  <div class="content" >


				<div style=" margin-left: -30%;margin-right: -30%"  >
					 <h3>
					   <span  class= "site-title"> Lab of Data Science and Intelligence </span>
					</h3>			
				</div>

				<div>
					<br />
					<p>Here we should add a simple introduction for our lab. Here we should add a simple introduction for our lab.Here we should add a simple introduction for our lab. Here we should add a simple introduction for our lab.   </p>
				</div>


	
			  <!-- <a class="link" href="#about" data-scroll>About Us</a> -->

		  </div>

  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>


