<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
  </div>
  <div class="row user">

    <div class="four columns">
      <h4>Data Analysis</h4>
	  <img src="{{ "/assets/img/tableausmall.jpg" | prepend: site.baseurl}}" />
	  <img src="{{ "/assets/img/SPSSsmall.jpg" | prepend: site.baseurl }}" />
      <p>   </p>
    </div>
	<div class="four columns">
      <h4>Coding</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
	  <img src="{{ "/assets/img/Rlogo.jpg" | prepend: site.baseurl }}" />
	  <i class="devicon-mysql-plain-wordmark"></i>
	  <img src="{{ "/assets/img/scalasmall.jpg"  | prepend: site.baseurl}}" />
      <p>   </p>
    </div>
    <div class="four columns">
      <h4>Others</h4>
	  <img src="{{ "/assets/img/CFAsmall.jpg" | prepend: site.baseurl }}" />

      <p>   </p>
    </div>
  </div>
    <div class="user-details">
      <h3> My Education </h3>
	<p>  </p>
    <p> * 2016.09-present, M.S.Candidate,Management Science and Engineering,XJTU,China</p>
	
	<p> * 2012.09-2016.07, B.S.,Business Administration,XJTU,China</p>
	
	<p> * 2015.01-2015.06, Exchange Student,Department of Information Systems,City University of HongKong,China</p>
	<p> * 2012.09-2014.07, Energy and Power Engineering,XJTU,China</p>
	
	<div class="user-details">
      <h3> Awards </h3>
	<p>  </p>
    <p> * XXXXXXXXXXXXX  </p>
	<p> * XXXXXXXXXXXXXXXXXXXXXXXXXX  </p>
	<p> * XXXXXXXXXXXXX   </p>

</div>
