<div class="container">
  <div class="user-details">
    <h3> Upcoming Events </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PicturePCA" src="{{ "/assets/img/PCA.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> AAAAAAAAAA </h5>
      <li> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
      <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="AppUsage02" src="{{ "/assets/img/AppUsage02.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> AAAAAAAAAAAAAAAAAAAA </h5>
      <li> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
      <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Text" src="{{ "/assets/img/Text.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA </h5>
      <li> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
      <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>

  
</div>
